@use "typography";

// Color Variables
$cyan: #66e2dc;
$orange: #fa7453;
$yellow: #ffb964;
$white: #fcfaf9;
$slate: #191826;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
}
.top {
  height: 450px;
  background-image: url("./assets/bg-main-mobile.png");
  background-position: 0, 0;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 64px 20px;
  margin-bottom: 200px;
  .doodle-top {
    display: none;
  }
  img {
    padding-bottom: 64px;
  }
  .top-text {
    width: 330px;
    height: 230px;
    h1 {
      @extend %text-3;
      padding-bottom: 40px;
    }
    p {
      @extend %text-5-regular;
    }
  }
}
.middle {
  img {
    height: 430px;
    position: relative;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
  }
  background-color: $slate;
  background-image: url("./assets/bg-pattern-2.svg");
  background-repeat: no-repeat;
  height: 380px;
}

.bottom {
  background-color: $orange;
  height: 705px;
  padding: 48px 20px;
  h2 {
    @extend %text-3;
    margin-bottom: 24px;
  }
  p {
    margin-bottom: 40px;
    @extend %text-5-regular;
  }
  .price-block {
    display: flex;
    align-items: center;
    .price,
    .per-month {
      display: inline-block;
    }
    .price {
      @extend %text-2;
    }
    .per-month {
      @extend %text-4;
      margin-left: 16px;
    }
  }
  .button-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 144px;
    margin-top: 48px;
    .dark-button {
      @extend %text-6;
      @extend %button;
      background-color: $slate;
      color: $white;
    }
    .dark-button::before {
      content: url("./assets/icon-apple.svg");
      color: $white;
      margin-right: 10px;
      position: relative;
      top: 2px;
    }
    .light-button {
      @extend %text-6;
      @extend %button;
      background-color: $white;
      color: $slate;
    }
    .light-button::before {
      content: url("./assets/icon-android.svg");
      margin-right: 10px;
      position: relative;
      top: 3px;
    }
  }
}
footer {
  height: 307px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
  margin-top: 50px;
  .bottom-logo {
    height: 32px;
    margin-bottom: 32px;
  }
  p {
    width: 335px;
    height: auto;
    @extend %text-5-regular;
    .email-style {
      @extend %text-5-bold;
    }
  }
  .social-media-links {
    img {
      width: 20px;
      height: 20px;
    }
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    width: 124px;
  }
}
@media (min-width: 750px) {
  main {
    height: 1450px;
  }
  .top {
    background-image: url("./assets/bg-main-tablet.png");
    position: relative;
    overflow: hidden;
    height: 500px;
    .doodle-top {
      display: inline-block;
      position: absolute;
      top: -40px;
      right: -40px;
      height: 400px;
    }
  }
  .middle {
    width: 90%;
    height: 600px;
    margin: 0 auto;
    border-radius: 12px;
    img {
      left: 30%;
      top: -90px;
      height: auto;
      width: 270px;
    }
  }
  .bottom {
    position: relative;
    width: 50%;
    border-radius: 16px;
    height: auto;
    top: -550px;
    right: -40%;
    margin-bottom: 0;
    .button-block {
      .dark-button,
      .light-button {
        width: 260px;
      }
    }
  }
  footer {
    margin-top: -50px;
    margin-bottom: 50px;
    height: 200px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .bottom-logo {
      padding-right: 100vw;
    }
    justify-content: space-between;
    align-items: center;
    .social-media-links {
      margin-right: 32px;
      margin-top: 0;
    }
  }
}
@media (min-width: 1068px) {
  .top {
    background-image: url("./assets/bg-main-desktop.png");
    height: auto;
    .top-text {
      width: 70%;
      height: auto;
      margin: 0 auto;
      h1 {
        font-size: 88px;
        line-height: 100%;
        letter-spacing: -1;
      }
    }
  }
  .middle {
    background-position: center;
    img {
      left: 30%;
      top: -90px;
      height: auto;
      width: 269px;
    }
  }
  .bottom {
    width: 40%;
    height: 40%;
    top: -500px;
    right: -50%;
    margin-bottom: 0;
    .button-block {
      .dark-button,
      .light-button {
        width: 260px;
      }
    }
  }
  footer {
    margin-top: 20px;
    .bottom-logo {
      padding: 0;
    }
  }
}
