@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");
.bottom .price-block .price {
  font-family: "IBM Plex Sans";
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0;
  font-weight: bold;
}

.top .top-text h1, .bottom h2 {
  font-family: "IBM Plex Sans";
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0;
  font-weight: bold;
}

.bottom .price-block .per-month {
  font-family: "IBM Plex Sans";
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0;
}

footer p .email-style {
  font-family: "IBM Plex Sans";
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: bold;
}

.top .top-text p, .bottom p, footer p {
  font-family: "IBM Plex Sans";
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
}

.bottom .button-block .dark-button, .bottom .button-block .light-button {
  font-family: "IBM Plex Sans";
  font-size: 18px;
  line-height: 180%;
  letter-spacing: 0;
}

.bottom .button-block .dark-button, .bottom .button-block .light-button {
  width: 335px;
  height: 64px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
}

.top {
  height: 450px;
  background-image: url("./assets/bg-main-mobile.png");
  background-position: 0, 0;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 64px 20px;
  margin-bottom: 200px;
}
.top .doodle-top {
  display: none;
}
.top img {
  padding-bottom: 64px;
}
.top .top-text {
  width: 330px;
  height: 230px;
}
.top .top-text h1 {
  padding-bottom: 40px;
}
.middle {
  background-color: #191826;
  background-image: url("./assets/bg-pattern-2.svg");
  background-repeat: no-repeat;
  height: 380px;
}
.middle img {
  height: 430px;
  position: relative;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}

.bottom {
  background-color: #fa7453;
  height: 705px;
  padding: 48px 20px;
}
.bottom h2 {
  margin-bottom: 24px;
}
.bottom p {
  margin-bottom: 40px;
}
.bottom .price-block {
  display: flex;
  align-items: center;
}
.bottom .price-block .price,
.bottom .price-block .per-month {
  display: inline-block;
}
.bottom .price-block .per-month {
  margin-left: 16px;
}
.bottom .button-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 144px;
  margin-top: 48px;
}
.bottom .button-block .dark-button {
  background-color: #191826;
  color: #fcfaf9;
}
.bottom .button-block .dark-button::before {
  content: url("./assets/icon-apple.svg");
  color: #fcfaf9;
  margin-right: 10px;
  position: relative;
  top: 2px;
}
.bottom .button-block .light-button {
  background-color: #fcfaf9;
  color: #191826;
}
.bottom .button-block .light-button::before {
  content: url("./assets/icon-android.svg");
  margin-right: 10px;
  position: relative;
  top: 3px;
}

footer {
  height: 307px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
  margin-top: 50px;
}
footer .bottom-logo {
  height: 32px;
  margin-bottom: 32px;
}
footer p {
  width: 335px;
  height: auto;
}
footer .social-media-links {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
  width: 124px;
}
footer .social-media-links img {
  width: 20px;
  height: 20px;
}

@media (min-width: 750px) {
  main {
    height: 1450px;
  }
  .top {
    background-image: url("./assets/bg-main-tablet.png");
    position: relative;
    overflow: hidden;
    height: 500px;
  }
  .top .doodle-top {
    display: inline-block;
    position: absolute;
    top: -40px;
    right: -40px;
    height: 400px;
  }
  .middle {
    width: 90%;
    height: 600px;
    margin: 0 auto;
    border-radius: 12px;
  }
  .middle img {
    left: 30%;
    top: -90px;
    height: auto;
    width: 270px;
  }
  .bottom {
    position: relative;
    width: 50%;
    border-radius: 16px;
    height: auto;
    top: -550px;
    right: -40%;
    margin-bottom: 0;
  }
  .bottom .button-block .dark-button,
  .bottom .button-block .light-button {
    width: 260px;
  }
  footer {
    margin-top: -50px;
    margin-bottom: 50px;
    height: 200px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  footer .bottom-logo {
    padding-right: 100vw;
  }
  footer .social-media-links {
    margin-right: 32px;
    margin-top: 0;
  }
}
@media (min-width: 1068px) {
  .top {
    background-image: url("./assets/bg-main-desktop.png");
    height: auto;
  }
  .top .top-text {
    width: 70%;
    height: auto;
    margin: 0 auto;
  }
  .top .top-text h1 {
    font-size: 88px;
    line-height: 100%;
    letter-spacing: -1;
  }
  .middle {
    background-position: center;
  }
  .middle img {
    left: 30%;
    top: -90px;
    height: auto;
    width: 269px;
  }
  .bottom {
    width: 40%;
    height: 40%;
    top: -500px;
    right: -50%;
    margin-bottom: 0;
  }
  .bottom .button-block .dark-button,
  .bottom .button-block .light-button {
    width: 260px;
  }
  footer {
    margin-top: 20px;
  }
  footer .bottom-logo {
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
